.home {
  min-height: calc(100vh - 8.1rem);
  background-image: url("../../assets/5570863.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 8rem;

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 40rem));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    @include sm-screen {
      grid-template-columns: repeat(auto-fill, minmax(33rem, 33rem));
    }

    .home__book {
      display: flex;
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.7);
      position: relative;
      @include sm-screen {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
      }

      .book__img {
        width: 11rem;
      }

      .book__textBox {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        @include sm-screen {
          width: 73%;
        }

        .book__title,
        .book__pages,
        .book__price,
        .book__qty {
          font-size: 1.5rem;
        }

        .book__qty {
          display: flex;
          margin-top: 1rem;

          p {
            margin-right: 0.8rem;
          }
        }

        .book__author {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }

        .book__add {
          position: absolute;
          bottom: 1rem;
          right: 1rem;
          font-size: 1.4rem;
          padding: 0.8rem 1.2rem;
          color: $color-ltBlack;
          background-color: $color-ltGold;
          border-radius: 2rem;
          border: 0.1rem solid transparent;
          cursor: pointer;
          transition: .2s ease;
          @include sm-screen {
            bottom: 1rem;
            right: 3rem;
          }

          &:hover {
            border: 0.1rem solid $color-ltBlack;
          }
        }
      }
    }
  }
}