@use 'sass:math';

@mixin sm-screen {
  @media screen and (max-width: #{$breakpoint-sm-screen}) {
    @content;
  }
}

@mixin btn-style {
  font-size: 1.6rem;
  color: $color-white;
  background-color: $color-ltBlack;
  padding: 1rem 3rem;
  text-decoration: none;
  transition: .2s ease;
  cursor: pointer;
  border: none;
  @include sm-screen {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

  &:hover {
    background-color: $color-gray;
  }
}