$color-white: #ffffff;
$color-ltBlack: #2c293b;
$color-ltGold: #eeeaaa;

$font-primary: 'Montserrat', sans-serif;

$breakpoint-lg-screen: 1000px;
$breakpoint-md-screen: 800px;
$breakpoint-sm-screen: 600px;